Repository Embucket/datafusion, pull requests merged in 2025-01, with the labels that each got.

#3 Extend to_date UDF supported types
  datafusion/functions/src/datetime/to_date.rs
Labels: functions

#2 Add "rlike" as an alias for regexp_like
  datafusion/functions/src/regex/regexplike.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#6 Implement regexp_substr
  datafusion/functions/src/regex/mod.rs
  datafusion/functions/src/regex/regexpsubstr.rs
  docs/source/user-guide/sql/scalar_functions.md
Labels: documentation, functions

#10 DFParser should skip unsupported COPY INTO
  FETCH_HEAD
  datafusion/sql/src/parser.rs
Labels: sql
