Repository Embucket/datafusion, pull requests merged in 2025-02, with the labels that each got.

#11 Skip CREATE STAGE by DFParser (pass to dialect parser)
  datafusion/sql/src/parser.rs
Labels: sql

#12 Use sqlparser fork in datafusion dependencies
  Cargo.toml
  datafusion-cli/Cargo.lock
  datafusion/sql/src/statement.rs
Labels: sql

#14 Extend references with new Show* types
  datafusion/sql/src/resolve.rs
Labels: sql

#16 Add e flag support
  datafusion/functions/src/regex/regexpsubstr.rs
Labels: functions

#17 arrow format support
  datafusion/core/tests/user_defined/insert_operation.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/physical-plan/src/insert.rs
Labels: core, logical-expr, physical-expr

#18 Revert commit: 314a726
  datafusion/core/tests/user_defined/insert_operation.rs
  datafusion/expr/src/logical_plan/dml.rs
  datafusion/physical-plan/src/insert.rs
Labels: core, logical-expr, physical-expr
